<option value="">Select the category</option>
<option value='1'>Documentário Acadêmico</option>
<option value='2'>Documentário Anarquista</option>
<option value='3'>Documentário Biográfico</option>
<option value='4'>Documentário Científico</option>
<option value='5'>Documentário de Comédia</option>
<option value='6'>Documentário para Criança e Família</option>
<option value='7'>Documentário de Crítica Social</option>
<option value='8'>Documentário Cultural</option>
<option value='9'>Documentário de Direitos Humanos</option>
<option value='10'>Documentário de Economia</option>
<option value='11'>Documentário Educacional</option>
<option value='12'>Documentário de Esporte</option>
<option value='13'>Documentário de Estilo de Vida</option>
<option value='14'>Documentário de Estudantil</option>
<option value='15'>Documentário Experimental</option>
<option value='16'>Documentário sobre Feminismo</option>
<option value='17'>Documentário de Geografia</option>
<option value='18'>Documentário de Guerra</option>
<option value='19'>Documentário de História</option>
<option value='20'>Documentário de História Brasileira</option>
<option value='21'>Documentário Independente</option>
<option value='22'>Documentário Indígena</option>
<option value='23'>Documentário Investigativo</option>
<option value='24'>Documentário Jornalístico</option>
<option value='25'>Documentário LGBTQ</option>
<option value='26'>Documentário Marxista</option>
<option value='27'>Documentário sobre Meio Ambiente</option>
<option value='28'>Documentário de Movimentos Sociais</option>
<option value='29'>Documentário Musical</option>
<option value='30'>Documentário de Política</option>
<option value='31'>Documentário de Psicologia</option>
<option value='32'>Documentário de Religião e Espiritualidade</option>
