<footer>
  <p align="center" style="font-size: 11pt; margin-top:110px;">
    <!--<a href="{{ site.baseurl }}/" style="border-bottom: 0px solid;"><img src="{{ site.baseurl }}/assets/img/libreflix.png" width="118px" style="border-bottom: 0px solid;"></a><br><br>-->
    Libreflix é uma plataforma de streaming aberta e colaborativa que reúne produções audiovisuais independentes, de livre exibição e que fazem pensar.
    <br><br>
    <a href="">Sobre</a> &middot; <a href="">FAQ</a> &middot; <a href="/privacidade">Privacidade</a> &middot; <a href="">Quem faz</a> &middot; <a href="http://libregit.org/libreflix" target="_blank">Código-Fonte</a>
 </p>




</footer>

</div>

</div>
<br>
</body>
</html>
