

<!--
         _ _
 ___ _ _|_| |_____ ___ _ _ ___   ___ ___ _____
| . | | | | |     | . | | |  _|_|  _| . |     |
|_  |___|_|_|_|_|_|___|___|_| |_|___|___|_|_|_|
|___|

 -->

<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> {{ title }} | Libreflix </title>
    <link rel="icon" type="image/png" href="/libre-icon.png" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="/js/vendor/jquery-1.11.3.min.js"></script>


  <meta property="og:image" content="{{ site.baseurl }}{{ page.fb-share }}" />
  <meta property="og:type" content="blog" />
  <meta property="og:title" content="Assista {{page.title}} na Libreflix" />
  <meta property="og:url" content="{{site.fullurl}}" />
  <meta property="og:site_name" content="{{page.title}}" />

  <!-- twitter metatags-->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{page.title}}">
  <meta name="twitter:description" content="{{page.title}}">
  <meta name="twitter:image" content="{{ site.baseurl }}{{ page.fb-share }}">


  <script type="text/javascript" charset="utf-8">
        // Creating custom :external selector
        $.expr[':'].external = function(obj){
            return !obj.href.match(/^mailto\:/)
                    && (obj.hostname != location.hostname);
        };

        $(function(){
          // Add 'external' CSS class to all external links
          $('a:external').addClass('external');

          // turn target into target=_blank for elements w external class
          $(".external").attr('target','_blank');

        });

        $(document).ready(function(){
            $('.container').fadeIn();
        });

      </script>

      <link rel="stylesheet" type="text/css" href="libre.css">
      <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
      </script>
  </head>
  <body>
<div class="grid header">
  <div class="logo col-1-3">
    <p class="menu">
      <a href="{{ site.baseurl }}/" style="border-bottom: 0px solid;"><img src="/libreflix.png" width="118px" style="border-bottom: 0px solid; opacity:0; -moz-transition: opacity 2s; -webkit-transition: opacity 2s; -o-transition: opacity 2s; transition: opacity 2s;" onload="this.style.opacity='1';"></a>
    </p>
  </div>
  <div class="col-1-3">Teste</div>
