<script>
function doSearch(){
    var response = document.getElementById('searchBar').value;
    response = response.toString()
    window.location.assign("/busca/" + response)
    return false;

}
</script>

<div class="grid header">
  <!-- <div class="logo col-1-3">


  </div>
  <ul class="nav navbar-nav navbar-right">
     {% if user %}
       <li class="dropdown">
         <a href="#" data-toggle="dropdown" class="navbar-avatar dropdown-toggle">
           {% if user.picture %}
             <img src="{{ user.picture }}" width="30px" style="border-radius: 100%;">
           {% else %}
             <img src="{{ user.gravatar }}"  width="30px" style="border-radius: 100%;">
           {% endif %}
           {% if user.name %}
             {{ user.name }}
           {% elif user.email %}
             {{ user.email }}
           {% else %}
             {{ user.id }}
           {% endif %}
           <i class="caret"></i>
         </a>
         <ul class="dropdown-menu">
           <li><a href="/account">Minha Conta</a></li>
           <li class="divider"></li>
           <li><a href="/logout">Sair</a></li>
         </ul>
       </li>
     {% else %}
       <li class="{% if title == 'Entrar' %}active{% endif %}"><a href="/login">Entrar</a></li>
       <li class="{% if title == 'Criar Conta' %}active{% endif %}"><a href="/signup">Criar Conta</a></li>
     {% endif %}
     </ul>
</div> -->

  <nav class="navbar navbar-default ">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="{{ site.baseurl }}/" style="border-bottom: 0px solid;"><img src="/libreflix.png" width="150px" style="border-bottom: 0px solid; opacity:0; -moz-transition: opacity 2s; -webkit-transition: opacity 2s; -o-transition: opacity 2s; transition: opacity 2s; margin-right: 30px;"
          onload="this.style.opacity='1';"></a>

    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- <li><a href="/">Home</a></li> -->
        <li><a href="/t/docs"><b>Docs</b></a></li>
        <li><a href="/t/filmes"><b>Filmes</b></a></li>
        <li><a href="/t/curtas"><b>Curtas</b></a></li>
        <li><a href="/t/series"><b>Séries</b></a></li>
        <li><a href="/t/classicos"><b>Clássicos</b></a></li>
        <li><a href="/t/nacionais"><b>Nacionais</b></a></li>
        <li><a href="/t/kids"><b>Kids</b></a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li>
          <form class="search-form" onSubmit="return doSearch(); return false;">
            <div class="form-group has-feedback">
              <label for="search" class="sr-only"></label>
              <input type="text" class="form-control" name="search" id="searchBar" placeholder="Títulos, tags, assuntos">
              <span class="fa fa-search form-control-feedback"></span>
            </div>
          </form>
        </li>

        <li class="busca-smartphone">
          <a href="/buscar"><b>Buscar</b></a>
        </li>

        {% if user %}
        <li><a href="/novo">Nova Produção</a></li>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="navbar-avatar dropdown-toggle">
            {% if user.twitter %}
            <img src="{{ user.gravatar }}" width="20px" style="border-radius: 100%;">
            {% elseif user.picture %}
            <img src="{{ user.picture }}" width="20px" style="border-radius: 100%;">
            {% else %}
            <img src="{{ user.gravatar }}" width="20px" style="border-radius: 100%;">
            {% endif %}
            <!-- {% if user.name %}
            {{ user.name }}
          {% elif user.email %}
            {{ user.email }}
          {% else %}
            {{ user.id }}
          {% endif %} -->
            <i class="caret"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/u/{{ user.username }}">Meu Perfil</a></li>
            <li><a href="/account">Editar Conta</a></li>
            {% if (user.adm) or (user.mod) %}
            <li><a href="/list-watches">Listar Filmes</a></li>
            {% endif %}
            <li class="divider"></li>
            <!-- <li><a href="#">Minhas Produções</a></li>
          <li class="divider"></li> -->
            <li><a href="/logout">Sair</a></li>
          </ul>
        </li>
        {% else %}

        <li class="{% if title == 'Entrar' %}active{% endif %}"><a href="/login"><b>Entrar</b></a></li>


        <!-- <li class="{% if title == 'Criar Conta' %}active{% endif %}"><a href="/signup">Criar Conta</a></li> -->
        {% endif %}
      </ul>
    </div>
  </nav>
</div>
