SESSION_SECRET='example'

# DB_path to MongoDB, matching collection, user and password
# 27017 is the standard port of MongoDB
# DB_PATH='mongodb://libreflix:PASSWORD@database:27017/libreflix'
DB_PATH='mongodb://database:27017'

# Facebook Integration
FACEBOOK_ID='1221244648022130'
FACEBOOK_SECRET='example'

# Twitter Integration
TWITTER_KEY='example'
TWITTER_SECRET='example'

# GitHub Integration
GITHUB_ID='example'
GITHUB_SECRET='example'

# If you use MailGun to send mail
MAILGUN_USERNAME='example'
MAILGUN_PASSWORD='example'
