#<cto@company.xx>                       <cto@coompany.xx>
#Some Dude <some@dude.xx>         nick1 <bugs@company.xx>
#Other Author <other@author.xx>   nick2 <bugs@company.xx>
#Other Author <other@author.xx>         <nick2@company.xx>
#Santa Claus <santa.claus@northpole.xx> <me@company.xx>


Guilmour Rossi <me@guilmour.org> <guilmour@alunos.utfpr.edu.br>
Guilmour Rossi <me@guilmour.org> Guilmour <guilmour@alunos.utfpr.edu.br>
#
