{% extends 'layouts/layout.html' %}
{% set title = t('Contribuidores') %}

{% block opengraph %}
<meta property="og:image" content="https://libreflix.org/ajeet-mestry-429216.jpg" />
<meta property="og:type" content="blog" />
<meta property="og:title" content="Mais formas de Assistir" />
<meta property="og:description" content="Libreflix é uma plataforma de streaming aberta e colaborativa que reúne produções audiovisuais independentes e de livre exibição." />
<meta property="og:url" content="https://libreflix.org/apps/" />
<meta property="og:site_name" content="Libreflix" />

<!-- twitter metatags-->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Mais formas de Assistir">
<meta name="twitter:description" content="Libreflix é uma plataforma de streaming aberta e colaborativa que reúne produções audiovisuais independentes e de livre exibição.">
<meta name="twitter:image" content="https://libreflix.org/ajeet-mestry-429216.jpg">
{% endblock %}

{% block body %}
<div class="container-fluid">
  {% if messages.success %}
  <div role="alert" class="alert alert-success">
    {% for success in messages.success %}
    <div>{{ success.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.error %}
  <div role="alert" class="alert alert-danger">
    {% for error in messages.error %}
    <div>{{ error.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.info %}
  <div role="alert" class="alert alert-info">
    {% for info in messages.info %}
    <div>{{ info.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}

</div>

<div class="row">
  <div class="apps-page">
  </div>
  <p align=right>
    <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px;"
      href="https://www.adambirkett.co.uk/" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Adam Birkett"><span style="display:inline-block;padding:2px 3px;"><svg
          xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white;" viewBox="0 0 32 32">
          <title></title>
          <path
            d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z">
          </path>
        </svg></span><span style="display:inline-block;padding:2px 3px;">Adam Birkett</span></a>
  </p>
</div>

<div class="container-fluid institutional-page">
  <div class="row">
    <h1>Obrigado!</h1>
    <p>
      O Libreflix gostaria de agradecer as pessoas doadoras e organizações que ajudam o Libreflix a construir o streaming livre.
      Seja por doações diretas, ou pelas campanhas no <a href="https://acredito.me/libreflix">Acredito.me</a> ou no <a href="https://catase.me/libreflix">Catarse</a>.
    </p>
    <section id="contributors">
      <h3>Assinantes do projeto no <a href="https://catarse.me/libreflix">Catarse</a> </h3>
      <ul>
        <li>Ayrton Freeman</li>
         <li>Bethania Brenner</li>
         <li>ßØŁĐ droid.red</li>
         <li>Daniela De Souza Pritsch</li>
         <li><a href="https://monstrodosmares.com.br/">Editora Monstro dos Mares</a></li>
         <li>Elias Adams</li>
         <li>Fernando Santos</li>
         <li>Igor Gonçalves</li>
         <li>Ivan Libanio De Siqueira</li>
         <li>Izabel Lima</li>
         <li>Larissa Miranda</li>
         <li>Laudi Silva</li>
         <li>Luiz Romário Santana Rios</li>
         <li><a href="https://quixote-ead.com.br/quixote">Marcelo Miguel</a></li>
         <li>Maria Lenyr da Cruz</li>
         <li>Pablo Washington </li>
         <li>Pedro Lucas</li>
         <li>Raquel Abrahão </li>
         <li>Wadson De Sousa Matos</li>
         <li>Welder Almeida De Oliveira </li>
      </ul>
    </section>

  </div>
  <div class="row">
    <section id="contributors">
      <h3>Doadores na campanha no <a href="https://acredito.me/libreflix">Acredito.me</a> </h3>
      <ul>
        <li> Acsmer </li>
        <li> Alice Natália Freitas </li>
        <li> Renata Soares </li>
        <li> Anderson Antunes </li>
        <li> Anderson Antunes </li>
        <li> Anderson Antunes </li>
        <li> andretyn </li>
        <li> Antonia Oliveira </li>
        <li> Arihel </li>
        <li> Charles Morais </li>
        <li> Claudemir Rossi </li>
        <li> Cristiano dos Passos </li>
        <li> cryptoAmigo </li>
        <li> Daniel Fernandes Gomes </li>
        <li> Daniel Pigatto </li>
        <li> dannluciano </li>
        <li> Deize melo </li>
        <li> Dennis Mathiasson </li>
        <li> Eduardo Moraes </li>
        <li> ELLA </li>
        <li> Eric Amorim </li>
        <li> <a href="http://www.estudio.gunga.com.br/">Estúdio Gunga </a></li>
        <li> Fer </li>
        <li> Flavio Sergio Jorge de Freitas </li>
        <li> Gabriel Couto </li>
        <li> Gilson Raslan Filho </li>
        <li> Giovana Morais </li>
        <li> Glauco José </li>
        <li> Guilherme Torres Castro </li>
        <li> Hanna Nunes </li>
        <li> Helaine Alves </li>
        <li> Jonatas Eliakim </li>
        <li> JOSECSANT12 </li>
        <li> Julio Cesar de Menezes </li>
        <li> karina sobral </li>
        <li> Karolyna Gutierres </li>
        <li> Leandro de Mello </li>
        <li> Luana Brescovitz </li>
        <li> Luciano Domingues </li>
        <li> Luís Felipe Mesquita Granja </li>
        <li> Luiz Celso Gomes Jr. </li>
        <li> Luisa Baldo </li>
        <li> Luizffc </li>
        <li> Mara de Andréa </li>
        <li> Marc Rodrigues </li>
        <li> Marcello Borges </li>
        <li> Marcos Alves </li>
        <li> Margarida Lira </li>
        <li> Mariana Côrtes </li>
        <li> Mario Wilson Martins Teixeira </li>
        <li> Miguel Gandara </li>
        <li> Mikael M. Medeiros </li>
        <li> Moises Silva </li>
        <li> Pedro De Souza Filho </li>
        <li> Pedro Lucas </li>
        <li> Rafael Vinícius </li>
        <li> Raphael Quetelle </li>
        <li> Renato Dutra Coelho </li>
        <li> Rique </li>
        <li> Rivaldo </li>
        <li> SAULO VANDEVELDE </li>
        <li> sr.enzo </li>
        <li> thecarlosfilipe </li>
        <li> vavs </li>
        <li> Vinícius Dionízio </li>
        <li> Virgilio Vasconcelos </li>
        <li> wellington </li>
        <li> Wilson Lima </li>
      </ul>
    </section>
    <p class="text-center">Ajudou o Libreflix e o seu nome não está aqui ou gostaria de reportar um erro? Entre em <a href="/contato">contato</a>.</p>
  </div>
  <div class="row">
    <h2>Organizações Doadoras</h2>
    <h3>Nível (R)evolução (R$ 10,000) </h3>
    <a href="/contato">Sua instituição, fundação, projeto ou empresa aqui.</a>
    <h3>Nível Inovação (R$ 2,500)</h3>
    <a href="/contato">Sua instituição, fundação, projeto ou empresa aqui.</a>
    <h3>Nível União (R$ 1,000)</h3>
    <a href="/contato">Sua instituição, fundação, projeto ou empresa aqui.</a>
    <h3>Primeiros passos</h3>
    <p>
      Essas organizações acreditaram no Libreflix em seus primeiros meses de funcionamento. Somos muito gratos.
      <br>
      <a href="http://hosthp.com.br"><img src="/assets/sponsors/2018/host-hp.png" alt="HostHP" width="180" class="apoio-marcas"></a>
      <a href="http://keykong.io"><img src="/assets/sponsors/2018/logo_keykong_green.png" alt="KeyKong.io" width="200" class="apoio-marcas"></a>
		</p>
  </div>
</div>
<br><br><br>




{% endblock %}
