<!--

  _       _  _                  __  _  _
 | |     (_)| |                / _|| |(_)
 | |      _ | |__   _ __  ___ | |_ | | _ __  __
 | |     | || '_ \ | '__|/ _ \|  _|| || |\ \/ /
 | |____ | || |_) || |  |  __/| |  | || | >  <
 |______||_||_.__/ |_|   \___||_|  |_||_|/_/\_\

 Hey, friend. Check out the source-code at libregit.org/libreflix

 -->

<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> {{ title }} | Libreflix </title>
  <link rel="icon" type="image/png" href="/libre-icon.png" />
  <link rel="shortcut icon" href="//libreflix.org/libre-icon.png">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/vendor/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.ui.min.js">


  <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="/js/vendor/jquery-1.11.3.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/vendor/bootstrap.min.js">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js" charset="utf-8"></script>


  {% block opengraph %}
  <meta property="og:image" content="/sm-share2.jpg" />
  <meta property="og:type" content="blog" />
  <meta property="og:title" content="Libreflix" />
  <meta property="og:description" content="Libreflix é uma plataforma de streaming aberta e colaborativa que reúne produções audiovisuais independentes, de livre exibição e que fazem pensar." />
  <meta property="og:url" content="https://libreflix.org" />
  <meta property="og:site_name" content="Libreflix" />

  <!-- twitter metatags-->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Libreflix">
  <meta name="twitter:description" content="Libreflix é uma plataforma de streaming aberta e colaborativa que reúne produções audiovisuais independentes, de livre exibição e que fazem pensar.">
  <meta name="twitter:image" content="https://libreflix.org/sm-share2.jpg">
  {% endblock %}


  <!-- <link rel="stylesheet" type="text/css" href="libre.css"> -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
  </script>
</head>

<body>
  <div class="container">
    {% block navbar %}
      {% include "partials/navbar.html" %}
    {% endblock %}
    {% block body %}
    {% endblock %}

    <footer>
      <!-- <p align="center" style="font-size: 11pt; margin-top:110px;">
        <a href="{{ site.baseurl }}/" style="border-bottom: 0px solid;"><img src="{{ site.baseurl }}/assets/img/libreflix.png" width="118px" style="border-bottom: 0px solid;"></a><br><br>
        Libreflix é uma plataforma de streaming aberta e colaborativa que reúne produções audiovisuais independentes, provocativas e de livre exibição.
        <br><br>
        <a href="/sobre">Sobre</a>
        &middot;
        <a href="/novo">Adicionar produção</a>
        <!-- &middot; <a href="">FAQ</a> &middot; <a href="/privacidade">Privacidade</a> &middot; <a href="">Quem faz</a>
        &middot;
        <a href="/apps">Aplicativos</a>
        &middot;
        <a href="http://blog.libreflix.org">Blog</a>
        &middot;
        <!-- <a href="/apps" target="_blank">Comunidade</a>
        &middot;
        <a href="http://libregit.org/libreflix" target="_blank">Código-fonte</a>
        <br><br>
          <small>Mantido com &hearts; por <a href="http://guilmour.org" target="_blank">@guilmour</a> e uma incrível <a href="https://libregit.org/libreflix/libreflix">comunidade</a>.<small>
      </p> -->

      {% block footer %}

<div class="container-fluid">
  <div class="mt-6 footer2">
    <div class="mb-5">
      <div class="col-12 col-md-2 mb-3">
        <p class="text-medium">
          <a href="/"><img src="/libreflix.png" alt="" width="100px"></a>
          <br>
          <span class="copyleft">&copy;</span> 2017 - 2018
        </p>
      </div>
      <div class="col-6 col-sm-4 col-md-2 mb-3 pr-3">
        <h4 class="">Libreflix</h4>
        <ul class="list-unstyled">
          <li><a href="/sobre">Sobre Nós</a></li>
          <li><a href="/apps">Apps</a></li>
          <!-- <li>Quem Faz</li> -->
          <li><a href="/press">Mídia</a></li>
          <li><a href="/contato">Contato</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-4 col-md-2 mb-3 pr-3">
        <h4 class="">Comunidade</h4>
        <ul class="list-unstyled">
          <li><a href="/novo">Adicionar Produção</a></li>
          <li><a href="https://libregit.org/libreflix" target="_blank">Código-Fonte</a></li>
          <li><a href="/faq/#faq7">Como Colaborar</a></li>
          <!-- <li>Voluntariado</li> -->
        </ul>
      </div>
      <div class="col-6 col-sm-4 col-md-2 mb-3 pr-3">
        <h4 class="">Legal</h4>
        <ul class="list-unstyled">
          <li><a href="/faq">Perguntas Frequentes</a></li>
          <li><a href="/tos">Termos de Uso</a></li>
          <li><a href="/privacy">Política de Privacidade</a></li>
          <li><a href="/dmca">Direito Autoral e DMCA</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-4 col-md-2 mb-3 pr-3">
        <h4 class="">Social</h4>
        <ul class="list-unstyled">
          <!-- <li>Fórum</li> -->
          <li><a href="http://blog.libreflix.org" target="_blank">Blog</a></li>
          <li><a href="https://t.me/joinchat/DPUEEQwX-hRfRKCSoFNUmw" target="_blank">Grupo no Telegram</a></li>
          <li><a href="http://t.me/libreflix" target="_blank">Canal no Telegram</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="text-center">
      <a href="https://diasporabrazil.org/people/78e821c025fd0136f91900163c5e21ed">
        <i class="fa fa-asterisk footer-icons"></i>
      </a>
      <a href="https://twitter.com/libreflix">
        <i class="fa fa-twitter footer-icons"></i>
      </a>
      <a href="https://www.facebook.com/libreflix/">
        <i class="fa fa-facebook footer-icons"></i>
      </a>
      <a href="https://instagram.com/libreflix">
        <i class="fa fa-instagram footer-icons"></i>
      </a>
      <a href="https://t.me/libreflix">
        <i class="fa fa-paper-plane footer-icons"></i>
      </a>
      <a href="https://libregit.org/libreflix">
        <i class="fa fa-bug footer-icons"></i>
      </a>
      <!-- <a href="https://libregit.org/libreflix">
        <i class="fa fa-newspaper-o footer-icons"></i>
      </a> -->
    </div>
  </div>
</div>
<br>
      {% endblock  %}

    </footer>
  </div>

  </div>
  <br>

<script type="text/javascript" charset="utf-8">
  // Creating custom :external selector
  $.expr[':'].external = function(obj) {
    return !obj.href.match(/^mailto\:/) &&
      (obj.hostname != location.hostname);
  };

  $(function() {
    // Add 'external' CSS class to all external links
    $('a:external').addClass('external');

    // turn target into target=_blank for elements w external class
    $(".external").attr('target', '_blank');

  });

  $(document).ready(function() {
    $('.container').fadeIn();
  });
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104410990-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
