{% extends "layouts/layout.html" %}

{% block footer%} {% endblock %}
{% block navbar %}{% endblock %} {# just to overide parent navbar block#}
{% block link_rel %}{% endblock %} {# just to overide parent link_rel block#}
{% block body %}
<!-- WebTorrent -->
<script src="/js/webtorrent.min.js"></script>

<!-- Plyr-->
<link rel="stylesheet" href="/css/plyr.css" />
<script src="/js/plyr.min.js"></script>

</div>



  <style media="screen">
  body{
    margin: 0;
  }
  #wrap
  {
  	position: fixed;
  	transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
  	background: black;
  	background:rgba(0, 0,0,0.8);
  	align-items:center;
  	justify-content:center;
  	width: 100vw;
  	height: 100vh;
  	display: flex;
  	flex-direction: column;
  	z-index:99;
  }

  #view
  {
  width: 100%; margin: 0; padding: 0;
  -webkit-transition: -webkit-transform 0.3s;
  	transition: transform 0.3s ease, filter 0.2s ease;
   }

  </style>
</head>

<body>
    <video
    id="player"
    poster="{{imgbg}}"
    controls
    crossorigin
    >
    <track kind="captions" label="Português" src="https://vdn.libreflix.org/sintel/sintel_pt.vtt" srclang="pt" default />
    </video>
</body>

<script type="text/javascript">
  var client = new WebTorrent();
  var torrentId =
    'magnet:?xt=urn:btih:08ada5a7a6183aae1e09d831df6748d566095a10&dn=Sintel&tr=udp%3A%2F%2Fexplodie.org%3A6969&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Ftracker.empire-js.us%3A1337&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337&tr=wss%3A%2F%2Ftracker.btorrent.xyz&tr=wss%3A%2F%2Ftracker.fastcast.nz&tr=wss%3A%2F%2Ftracker.openwebtorrent.com&ws=https%3A%2F%2Fwebtorrent.io%2Ftorrents%2F&xs=https%3A%2F%2Fwebtorrent.io%2Ftorrents%2Fsintel.torrent';

  const player = new Plyr('#player', {
    debug: false,
    hideControls: true,
  });
  document.getElementById("player").style.height = "100vh"

  client.add(torrentId, function(torrent) {
    var file = torrent.files.find(function(file) {
      return file.name.endsWith('.mp4')
    });
    file.renderTo('video', {
      autoplay: true,
      muted: true
    }, function callback() {
      console.log("ready to play!");
      document.getElementById("player").style.height = "100vh";
      player.play();
    });
  });
</script>


</html>
{% endblock %}
