{% extends "layouts/layout.html" %}

{% block footer%} {% endblock %}
{% block navbar %}{% endblock %} {# just to overide parent navbar block#}
{% block link_rel %}{% endblock %} {# just to overide parent link_rel block#}
{% block body %}
<!-- WebTorrent -->
<script src="/js/webtorrent.min.js"></script>

<!-- Plyr-->
<link rel="stylesheet" href="/css/plyr.css" />
<script src="/js/plyr.min.js"></script>

</div>



  <style media="screen">
  body{
    margin: 0;
  }
  #wrap
  {
  	position: fixed;
  	transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
  	background: black;
  	background:rgba(0, 0,0,0.8);
  	align-items:center;
  	justify-content:center;
  	width: 100vw;
  	height: 100vh;
  	display: flex;
  	flex-direction: column;
  	z-index:99;
  }
  /* Remove anoying dot border at the link*/
  a:active, a:active, a:focus{
    outline: none;
  }
  #view
  {
  width: 100%; margin: 0; padding: 0;
  -webkit-transition: -webkit-transform 0.3s;
  	transition: transform 0.3s ease, filter 0.2s ease;
   }
   #exit-button {
     border: none;
     background: transparent;
     position: absolute;
     outline: none;
     opacity: 0.9;
     margin-left: 12%;
     margin-top: 2%;
     -webkit-transition: opacity .2s ease-out;
     -ms-transition: opacity .2s ease-out;
     transition: opacity .2s ease-out;
     z-index: 9999999;
     text-decoration: none;
   }
  </style>
</head>

<body>
  <button type="button" id="exit-button" class="exit-button" onClick="voltar()">
    <a href="javascript:;">
      <img src="/img/ico-exit.png">
    </a>
  </button>

    <video
    id="player"
    poster="{{w.imgbg}}"
    controls
    crossorigin
    allowfullscreen
    >
    <!-- <track kind="captions" label="Português" src="/subs/sintel/sintel_pt.vtt" srclang="pt" default>
    <track kind="captions" label="English" src="/subs/sintel/sintel_en.vtt" srclang="en" default> -->
    </video>

    <!-- <div class="plyr__video-embed" id="player">
    <iframe
        src="https://www.youtube.com/embed/{{w.video}}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
        allowfullscreen
        allowtransparency
        allow="autoplay"
    ></iframe>
    </div> -->

    <!-- <div class="plyr__video-embed" id="player">
    <iframe
        src="https://player.vimeo.com/video/115677771?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media"
        allowfullscreen
        allowtransparency
        allow="autoplay"
    ></iframe>
    </div> -->

</body>

<script>
  function voltar(){
    if(history.length === 1){
      window.location = "https://libreflix.org/i/{{w.permalink}}"
    }
    else{
      // history.back();
      window.location = "https://libreflix.org/i/{{w.permalink}}"
    }
  }
</script>

<script type="text/javascript">
  var client = new WebTorrent();

  client.on('error', function (err) {
    console.error('ERROR: ' + err.message)
  })

  var torrentId = '{{ w.magnet | safe }}';

  const player = new Plyr('#player', {
    debug: false,
    hideControls: true,
    quality: [1080, 720, 576, 480, 360, 240],
    settings: ['captions', 'quality', 'speed', 'loop']
  });
  document.getElementById("player").style.height = "100vh"

  client.add(torrentId, onTorrent)

  function onTorrent (torrent) {
    log('Got torrent metadata!')
    log(
      'Torrent info hash: ' + torrent.infoHash + ' ' +
      '<a href="' + torrent.magnetURI + '" target="_blank">[Magnet URI]</a> ' +
      '<a href="' + torrent.torrentFileBlobURL + '" target="_blank" download="' + torrent.name + '.torrent">[Download .torrent]</a>'
    )

    var file = torrent.files.find(function(file) {
      return file.name.endsWith('.mp4')
    });

    console.log("Adicionei o WebSeed. Peers:" + torrent.numPeers);
    torrent.addWebSeed('{{w.webseed}}')

    file.renderTo('video', {
      autoplay: true,
      muted: true
    }, function callback() {
      log("ready to play!");
      document.getElementById("player").style.height = "100vh";
      setTimeout(function(){ player.play(); }, 2000);
    });

    // Print out progress every 5 seconds
    var interval = setInterval(function () {
      log('Progress: ' + (torrent.progress * 100).toFixed(1) + '%')
      if (torrent.downloadSpeed == 0){
        console.log("Adicionei o WebSeed. Peers:" + torrent.numPeers);
        torrent.addWebSeed('{{w.webseed}}')
        var addWs = false
        var removeWs = true
        var initialWs = true
      }
    }, 1000)

    // Function that add webseed if download to slow


    torrent.on('download', function (bytes) {
      // console.log('just downloaded: ' + bytes)
      // console.log('total downloaded: ' + torrent.downloaded)

      console.log('download speed: ' + torrent.downloadSpeed)

      if ((torrent.progress * 100) > 5 && initialWs){
        console.log("Removi o WebSeed. Peers:" + torrent.numPeers);
        torrent.removePeer('{{w.webseed}}')
        addWs = true
        removeWs = false
        initialWs = false
      }
      if (torrent.downloadSpeed < 200000 && addWs) {
        console.log("Adicionei o WebSeed. Peers:" + torrent.numPeers);
        torrent.addWebSeed('{{w.webseed}}')
        addWs = false
        removeWs = true
      }
      if (torrent.downloadSpeed >= 500000 && removeWs) {
        console.log("Removi o WebSeed. Peers:" + torrent.numPeers);
        torrent.removePeer('{{w.webseed}}')
        addWs = true
        removeWs = false
      }
      // console.log('progress: ' + torrent.progress)
    })
  }

  function log (str) {
    console.log(str);
  }

  player.on('play', event => {
    setTimeout(function(){ document.getElementById("exit-button").style.opacity = "0"; }, 2000);
  });

  player.on('controlsshown', event => {
    document.getElementById("exit-button").style.opacity = "0.9";
  });

  player.on('pause', event => {
    document.getElementById("exit-button").style.opacity = "0.9";
  });

</script>


</html>
{% endblock %}
