/* styles */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.titlePlayer{
	color: 	#DCDCDC !important;
    text-shadow: 2px 2px #000 !important;
}

.exitTimes{
	color: #fff;
}

.fadeCatalogo{
	border-bottom: 0px solid;
	opacity:0;
	-moz-transition: opacity 2s;
 	-webkit-transition: opacity 2s;
  -o-transition: opacity 2s;
	 transition: opacity 2s;
}
#lb-logo {opacity:0;
-moz-transition: opacity 2s; /* Firefox 4 */
-webkit-transition: opacity 2s; /* Safari and Chrome */
-o-transition: opacity 2s;
transition: opacity 2s;
}
.login-container {
  max-width: 655px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #000 !important;
  font-family: helvetica, sans-serif!important;
  line-height: 1.5!important;
	font-size: 17px!important;
  margin: 0 auto !important;
	color: #A9A9A9 !important;
}
img {
  max-width: 100%;
}
a {
  color: gray !important;
  text-decoration: none !important;
}
a:hover {
  opacity: .7 !important;
}
nav a {
  border-bottom: none;
}
nav a:hover, nav a.active {
  border-bottom: 1px solid;
  opacity: 1;
}
.header {
  padding-top: 0px;
}
.logo a, .main-nav a {
  text-decoration: none;
  color: #222;
}
.logo p {
  font-size: 42px;
  margin-top: 0;
}
.main-nav {
  text-align: right;
}
.main-nav a {
  font-size: 28px;
  margin-right: 30px;
}
.main-nav .navlink-contact {
  margin-right: 0;
}
.tagline {
  font-size: 20px;
}
.single-project .grid {
  padding-top: 40px;
}
.skills img {
  width: 48%;
  padding-bottom: 30px;
}
section {
  padding: 0px 0;
}
h2{
	color: #A9A9A9 !important;
}
.tag {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-right: 4px;
  padding: 4px 6px;
  text-transform: capitalize;
}
.entries {
  padding-left: 0;
  position: relative;
  overflow:auto;
	text-align:
}
.entries ul {
  padding-left: 0;
}
.entries li {
  list-style: none;h2
}
.work [class*='col-'] img {
  width: 100%;
	margin-top: 30px;
}
.work .col-1-2 {
  padding-bottom: 20px;
}
.work h2, .contact h2 {
  font-weight: normal;
}
.container.about {
  padding-top: 20px;
}
/* make a grid */

[class*='col-'] {
  float: left;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.grid {
  margin-left: -10px;
  margin-right: -10px;
}
[class*='col-'] {
  padding-left: 10px;
  padding-right: 10px;
}
.col-1-2 {
  width: 50%;
}
.col-1-3 {
  width: 33.33%;
	margin-bottom: 25px;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-4 {
  width: 23%;
	margin-bottom: 25px;
}

.container {
	width: 90% !important;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}

/* single project */
.single-project .tagline {
  padding-top: 10px;
}
.work-img {
  max-width: 100%;
  padding-bottom: 30px;
}
.single-project .grid {
  text-align: center;
}
.centerBlock {
  text-align: center;
}

@media all and (max-width: 760px) {
  .work-img {
      width: 100%;
    }
}

@media all and (max-width: 560px) {
  [class*='col-'] {
    width: 100%;
  }
  .main-nav a {
    font-size: 23px;
    margin-right: 18px;
  }
  .tagline {
    font-size: 19px;
  }
  .main-nav {
    text-align: left;
  }
  .header {
    padding-top: 22px;
  }
  .logo p {
    margin-bottom: 12px;
  }
  .main-nav > img {
    padding-bottom: 12px;
  }
  section {
    padding: 0px 0;
  }
}

.text-center {
  text-align: center
}
.byline {
  font-style: italic;
}

.contact-links {
  color: gray;
}
.contact-links ul li {
  display: inline;
  text-align:right;
}

.contact-links a {
  border-bottom: none;
  color:#000;
  opacity: .8;
}
.contact-links a:hover, nav a.active {
  border-bottom: 1px solid;
  opacity: .8;
}

.contact ul li {
  list-style-type: none;
}
.bio {
  font-size:26px;
}

.lead-in {
  font-size:20px;
}

.single-blog-post img, .single-blog-post video {
  width: 100%;
  padding: 0% 5% 0% 5%;
}
.single-blog-post .caption {
  padding: 0 5% 2% 5%;
  font-style: italic;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}



/* Buttons */
button.list-group-item-success {
  color: #3c763d;
}
a.list-group-item-success .list-group-item-heading,
button.list-group-item-success .list-group-item-heading {
  color: inherit;
}
a.list-group-item-success:hover,
button.list-group-item-success:hover,
a.list-group-item-success:focus,
button.list-group-item-success:focus {
  color: #3c763d;
  background-color: #d0e9c6;
}
a.list-group-item-success.active,
button.list-group-item-success.active,
a.list-group-item-success.active:hover,
button.list-group-item-success.active:hover,
a.list-group-item-success.active:focus,
button.list-group-item-success.active:focus {
  color: #fff;
  background-color: #3c763d;
  border-color: #3c763d;
}
.list-group-item-info {
  color: #31708f;
  background-color: #d9edf7;
}
a.list-group-item-info,
button.list-group-item-info {
  color: #31708f;
}
a.list-group-item-info .list-group-item-heading,
button.list-group-item-info .list-group-item-heading {
  color: inherit;
}
a.list-group-item-info:hover,
button.list-group-item-info:hover,
a.list-group-item-info:focus,
button.list-group-item-info:focus {
  color: #31708f;
  background-color: #c4e3f3;
}
a.list-group-item-info.active,
button.list-group-item-info.active,
a.list-group-item-info.active:hover,
button.list-group-item-info.active:hover,
a.list-group-item-info.active:focus,
button.list-group-item-info.active:focus {
  color: #fff;
  background-color: #31708f;
  border-color: #31708f;
}
.list-group-item-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}
a.list-group-item-warning,
button.list-group-item-warning {
  color: #8a6d3b;
}
a.list-group-item-warning .list-group-item-heading,
button.list-group-item-warning .list-group-item-heading {
  color: inherit;
}
a.list-group-item-warning:hover,
button.list-group-item-warning:hover,
a.list-group-item-warning:focus,
button.list-group-item-warning:focus {
  color: #8a6d3b;
  background-color: #faf2cc;
}
a.list-group-item-warning.active,
button.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
button.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus,
button.list-group-item-warning.active:focus {
  color: #fff;
  background-color: #8a6d3b;
  border-color: #8a6d3b;
}
.list-group-item-danger {
  color: #a94442;
  background-color: #f2dede;
}
a.list-group-item-danger,
button.list-group-item-danger {
  color: #a94442;
}
a.list-group-item-danger .list-group-item-heading,
button.list-group-item-danger .list-group-item-heading {
  color: inherit;
}
a.list-group-item-danger:hover,
button.list-group-item-danger:hover,
a.list-group-item-danger:focus,
button.list-group-item-danger:focus {
  color: #a94442;
  background-color: #ebcccc;
}
a.list-group-item-danger.active,
button.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
button.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus,
button.list-group-item-danger.active:focus {
  color: #fff;
  background-color: #a94442;
  border-color: #a94442;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.sinopse{
	margin-top: 10px;
	font-size: 10.1pt;
}
.splash{
  height: 173px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.splash-play{
	float: left;
	background: transparent;
  -webkit-appearance: none;
	border: 0px;
	padding-left: 45%;
	padding-top: 56.5px;
  opacity: 0.6;
  outline:none;
}
.splash-play:hover,
.splash-play:focus {
  opacity: 1;
}

.classind{
	text-transform: uppercase;
	border: 1px solid #333;
  padding: 0 5px;
}

.panel-novo{
	max-width: 900px;
}

.manifesto{
  margin-top: 20px;
  text-align: center;
  color: white;
  font-size: 15pt;
  text-shadow: 1px 1px 4px rgba(0,0,0,.6);
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 15%;
  padding-right: 15%;

  background-image: url("/jon-tyson-228428.jpg");

  height: 45%;

  background-repeat: no-repeat;
  background-size: cover;
}

.manifesto > h1{
  color: white;
	font-size: 30pt;
}

.footer-icons{
  padding-top: 10px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  font-size: 25pt !important;
  text-align: center;
}

.thumbCatalogo{
	width: 480px;
	height: 270px;
}

.apoio-marcas{
	margin: 15px;
}

.footer2{
	max-width: 900px;
	margin-top:110px;
	font-size: 11pt;
}
